<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>meu nome é sofia, tenho 18 anos e estou aprendendo Django!</h1>
    Sou de angra dos reis e  estou cursando engenharia de producao na puc rio
    <h2>Links para os curriculos</h2>
    <a href="{% url 'curriculo:meucurriculo' %}">Meu curriculo</a><br>
    <a href="{% url 'curriculo:curriculospiff' %}">Curriculo do Spiff</a>
</body>
</html>